:root {
    --primary-color: #AAA0A0;
    --secondary-color: #474853;
    --action-color: #7AB0B0;
    --header-color: #C7C3C3;
    --btn-color: #A38471;
}

html {
    font-size: 12px; /*1 rem=12px*/
}
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Syncopate', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
}

/* body {
    width: 100vw;
    height: 100vh;
} */

h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: var(--action-color);
    font-size: 20px; /*40px desktop*/
    margin-bottom: 2.5rem;
}

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
    font-size: 18px; /*36px desktop*/
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-align: justify;
    font-size: 12px; /*24px desktop*/
}

h3, h4 {
    font-family: 'Syncopate', sans-serif;
    /* font-size: 1.1rem; */
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
}

h2, h4 {
    color: var(--header-color);
}

h1, h3 {
    color: var(--action-color);
}

blockquote {
    color: var(--primary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem;
}

.wrapper {
    max-width: 64rem;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "hero-header"
    "main"
    "footer";
    margin: 0 auto;
}

/*---- Button styling ----*/
.btn {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--btn-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    font-family: 'Syncopate', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding: 0.3rem 0.9rem;
    display: flex;
    align-items: center;
}
.btn--action {
    background-color: var(--action-color);
}

/*---- Hero-header styling ---*/
.hero {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    grid-area: hero-header;
}

.hero--home {
    background-image: url("../images/hero.png");
}

.hero--facilities {
    background-image: url("../images/facilities.jpeg");
}

.heading--facilities {
    color: var(--primary-color);
}

.hero__logo {
    align-self: flex-end;
    position: absolute;
    top: 0;
}

.logo {
    width: 100px;
    height: 80px;
}

/*---- Nav-bar styling ----*/
.nav-bar {
    color: var(--primary-color);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-bar__toggle {
    position: absolute;
    cursor: pointer;
    left: 1rem;
    top: 1rem;
    z-index: 2;
}

.nav-bar__checkbox, .nav-bar__menu-list li {
    display: none;
}

.nav-bar__menu-list {
    background-color: var(--header-color); /*BYT!!*/
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-bar__menu-list a {
    color: inherit;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif; /*Kan man flytta ut?? samma som i footer?*/
    font-weight: 700; /*Kan man flytta ut??*/
}

#nav-bar__checkbox:checked ~ .nav-bar__menu-list{
    position: absolute;
    padding: 3rem;
    z-index: 1;
}

#nav-bar__checkbox:checked ~ ul.nav-bar__menu-list li {
    display: block;
}

/*---- Main styling ----*/
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

/*---- Description styling ----*/
.description {
    color: var(--primary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0.5rem;
}

.read-more {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.read-more a {
    color: inherit;
    text-decoration: none;
}

/*---- Card styling ----*/
.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.card--large {
    width: 100%;
    height: 200px;
}

.card--small {
    width: 290px;
    height: 160px;
}

.card--large--space-resort {
    background-image: url("../images/home.jpeg");
}

.card--large--facilities {
    background-image: url("../images/facilities.jpeg");
}

.card--large--rooms {
    background-image: url("../images/08-night.jpg");
    width: 80%;
}

.card--small--rooms {
    background-image: url("../images/08-night.jpg");
}

.card--small--restaurant {
    background-image: url("../images/restaurant.jpeg");
}

.card--small--spa {
    background-image: url("../images/Spa.webp");
}

/*---- Carousel styling ----*/
.carousel {
    width: 100%;
    display: none;
    border-bottom: 1px solid var(--primary-color); 
    border-top: 1px solid var(--primary-color);
    padding: 2rem;
}

.carousel__facility {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---- Footer styling ----*/
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.rating {
    border-top: 1px solid var(--primary-color);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating h3 {
    font-size: 1rem;
}

.rating h4 {
    font-size: 0.6rem;
    font-weight: 400;
}

.footer__nav {
    display: none;

}

.footer__nav__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}

.footer__nav__list a {
    text-decoration: none;
    color: var(--header-color);
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    font-family: 'Syncopate';
}

/*Facilities*/

.facilities {
    display: flex;
    padding: 2rem 1rem;
    /* padding: 4rem; */
    gap: 2rem;
    /* gap: 8rem; */
    border-bottom: 1px solid var(--primary-color); 
}

.facilities__desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.facilities__desc button {
    align-self: flex-end;
}

.facilities__img {
    width: 300px;
    height: 200px;
    /* width: 525px;
    height: 267px; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rooms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rooms-text {
    width: 80%;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
}


.recommended h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--primary-color); 
    line-height: 0.1em;
    margin: 30px 0 30px; 
}

.recommended h3 span {
    background-color: #474853;
    padding:10px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1rem;
    padding: 2rem;
}
input {
    background-color: #A38471;
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    border: none;
    width: 100%;

}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */




@media only screen and (min-width: 650px) {
    .main {
        padding: 1rem 3.5rem 0 3.5rem;
    }

    .footer {
        padding: 1rem 3.5rem 1rem 3.5rem;
    }

    .card--large {
        height: 300px;
    }

}

@media only screen and (min-width: 900px) {
    html {
        font-size: 24px;
    }
    .nav-bar {
        width: 100%;
        position: unset;
        background: rgba(71, 72, 83, 0.3);
    }
    .nav-bar__toggle {
        display: none;
    }
    .nav-bar__menu-list {
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        padding-inline-start: 0;     
        padding: 0 1rem;  
    }

    .nav-bar__menu-list li {
        display: block;
        font-size: 1rem;
    }

    .logo {
        width: 157px;
        height: 80px;
    }

    .hero__logo {
        background-color: rgba(71, 72, 83, 0.3);
        width: 100%;
        text-align: center;
        position: unset;
    }

    .hero {
        padding: 0;
        height: 40vh;
        justify-content: flex-start;
    }

    .heading {
        margin-top: auto;
        margin-bottom: 2rem;
    }

    .description {
        font-size: 24px;
        line-height: 35px;
    }

    .card--large {
        height: 400px;
    }

    .carousel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.8rem;
    }

    blockquote {
        font-size: 24px;
        line-height: 40px;
    }
    .footer__nav {
        display: block;
    }

    


}

